@model WebApplication1.Models.Memoirs

@{
    ViewData["Title"] = "Memoir Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Memoir Details</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Title)
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Title)
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Content)
                        </div>
                        <div class="col-sm-8">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Tags)
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Tags)
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning mx-2">Edit</a>
                    <a asp-action="Index1" class="btn btn-secondary mx-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>
